[submodule "thesis-notes"]
	path = thesis-notes
	url = https://github.com/tbioren/thesis-notes.git
[submodule "thesis-experiment"]
	path = thesis-experiment
	url = https://github.com/tbioren/thesis-experiment.git
